.carousel_display {
    margin: 0;
    position: relative;
    width: clamp(335px, 90vw, 1240px);
    height: 255px;
    @media screen and (min-width: 550px) {
        height: 320px;
    }

    @media screen and (min-width: 750px) {
        height: 375px;
    }
        
        
    @media screen and (min-width: 900px) {
        height: 415px;
    }

    .left_arrow {
        width: 24px;
        height: 24px;
        @media screen and (min-width: 550px) {
            width: 50px;
            height: 50px;
        }

        @media screen and (min-width: 750px) {
            width: 70px;
            height: 70px;
        }

        @media screen and (min-width: 900px) {
            width: 96px;
            height: 116px;
        }
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: 1;
        cursor: pointer;
        & i {
            color: $white;
            font-size: 20px;
            @media screen and (min-width: 550px) {
                font-size: 40px;
            }
            @media screen and (min-width: 750px) {
                font-size: 55px;
            }
            @media screen and (min-width: 900px) {
                font-size: 80px;
            }
            &:hover {
                transform: scale(1.3);
                transition: scale 0.3s ease;
                // color: $color-1;
            }
        }
    }

    .right_arrow {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        @media screen and (min-width: 550px) {
            width: 50px;
            height: 50px;
        }

        @media screen and (min-width: 750px) {
            width: 70px;
            height: 70px;
        }

        @media screen and (min-width: 900px) {
            width: 96px;
            height: 116px;
        }
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: 1;
        cursor: pointer;
        & i {
            color: $white;
            font-size: 20px;
            @media screen and (min-width: 550px) {
                font-size: 40px;
            }
            @media screen and (min-width: 750px) {
                font-size: 55px;
            }
            @media screen and (min-width: 900px) {
                font-size: 80px;
            }
            &:hover {
                transform: scale(1.3);
                transition: scale 0.3s ease;
                // color: $color-1;
            }
        }
    }

    .display_frame {
        touch-action: none;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        text-align: center;
        overflow-y: hidden;
        overflow-x: auto;
        white-space: nowrap;
        z-index: 1;
        caret-color: transparent;

        &::-webkit-scrollbar {
            display: none;
        }

        & .slide {      
            touch-action: none;
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 10px;
            transition: all 0.4s linear;
            & img {
                height: 100%;
                width: 100%;
                max-width: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }
    }

    .counter {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 30px;
        z-index: 1;
        display: none;
        @media screen and (min-width: 500px) {
            display: flex;
        }
        justify-content: center;
        align-items: center;
        & p {
            color: $white;
            font-size: 18px;
            font-weight: 500;
            margin: 0;
            margin-bottom: 24px;
        }
    }

}
